{% extends 'base.html' %}
{% block title %}Product Details{% endblock title %}
{% block content %}

<a href="{% url 'products:product_list' %}">Back to product list </a>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{product.title}}</div>
    <div class="card-body">
      <h4 class="card-title">{{product.price}}</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
{% endblock %}