<section>
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Best Sellers</h5>
        </div>
        <div class="col-12">
          <div class="carousel slide" id="carouselBestSellers" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/handbag.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/earrings.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/lathered-wristwatch.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/tie.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/handbag.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/earrings.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/lathered-wristwatch.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/tie.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/handbag.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/earrings.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/lathered-wristwatch.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/tie.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/handbag.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span class="text-danger">$365</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/earrings.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span class="text-danger">$466</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/lathered-wristwatch.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span class="text-danger">$745</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                  <div class="col-md-3 mb-3 mb-md-0 h-100">
                    <div class="card card-span h-100 text-white"><img class="img-fluid h-100" src="assets/img/gallery/tie.png" alt="..." />
                      <div class="card-img-overlay ps-0"> </div>
                      <div class="card-body ps-0 bg-200">
                        <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                        <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span class="text-danger">$243</span></div>
                      </div><a class="stretched-link" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBestSellers" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselBestSellers" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>