{% load static %}
<section class="py-0 pb-8">

    <div class="container-fluid container-lg">
      <div class="row h-100 g-2 justify-content-center">
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <div class="card card-span text-white h-100"><img class="img-card h-100" src="{% static 'assets/img/gallery/shoes-blog-1.png' %}" alt="..." />
            <div class="card-body px-xl-5 px-md-3 pt-0 pb-7">
              <div class="d-flex justify-content-between align-items-center bg-100 mt-n5 me-auto"><img src="{% static 'assets/img/gallery/author-1.png' %}" width="60" alt="..." />
                <div class="d-flex flex-1 justify-content-around"> <span class="text-900 text-center"><i data-feather="eye"> </i><span class="text-900 ms-2">35</span></span><span class="text-900 text-center"><i data-feather="heart"> </i><span class="text-900 ms-2">23</span></span><span class="text-900 text-center"><i data-feather="corner-up-right"> </i><span class="text-900 ms-2">14</span></span></div>
              </div>
              <h6 class="text-900 mt-3">Kelly Hudson . <span class="fw-normal">Fashion actiKelly Hudson . </span></h6>
              <h3 class="fw-bold text-1000 mt-5 text-truncate">How important are shoes in your style?</h3>
              <p class="text-900 mt-3">Is it possible to assess a person just on the basis of their footwear? Obviously, nobody should criticize, but certainly, shoes say a lot about someone. It matters for the outsiders that we meet every day...</p><a class="btn btn-lg text-900 fs-1 px-0 hvr-icon-forward" href="#!" role="button">Read more
                <svg class="bi bi-arrow-right-short hover-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <div class="card card-span text-white h-100"><img class="img-card h-100" src="{% static 'assets/img/gallery/fashion-blog-2.png' %}" alt="..." />
            <div class="card-body px-xl-5 px-md-3 pt-0 pb-7">
              <div class="d-flex justify-content-between align-items-center bg-100 mt-n5 me-auto"><img src="{% static 'assets/img/gallery/author-2.png' %}" width="60" alt="..." />
                <div class="d-flex flex-1 justify-content-around"> <span class="text-900 text-center"><i data-feather="eye"> </i><span class="text-900 ms-2">35</span></span><span class="text-900 text-center"><i data-feather="heart"> </i><span class="text-900 ms-2">23</span></span><span class="text-900 text-center"><i data-feather="corner-up-right"> </i><span class="text-900 ms-2">14</span></span></div>
              </div>
              <h6 class="text-900 mt-3">Rotondwa Johnny . <span class="fw-normal">Fashion activist </span></h6>
              <h3 class="fw-bold text-1000 mt-5 text-truncate">Fashion trend forecast for Summer 2021</h3>
              <p class="text-900 mt-3">While the fashion industry has had a calm year, this season has seen some beautiful pieces. Over the previous several weeks, commanding coats, and elegant face masks have ruled Fashion Weeks...</p><a class="btn btn-lg text-900 fs-1 px-0 hvr-icon-forward" href="#!" role="button">Read more
                <svg class="bi bi-arrow-right-short hover-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                </svg></a>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <div class="card card-span text-white h-100"><img class="img-card h-100" src="{% static 'assets/img/gallery/spring-dress-blog-3.png' %}" alt="..." />
            <div class="card-body px-xl-5 px-md-3 pt-0 pb-7">
              <div class="d-flex justify-content-between align-items-center bg-100 mt-n5 me-auto"><img src="{% static 'assets/img/gallery/author-3.png' %}" width="60" alt="..." />
                <div class="d-flex flex-1 justify-content-around"> <span class="text-900 text-center"><i data-feather="eye"> </i><span class="text-900 ms-2">35</span></span><span class="text-900 text-center"><i data-feather="heart"> </i><span class="text-900 ms-2">23</span></span><span class="text-900 text-center"><i data-feather="corner-up-right"> </i><span class="text-900 ms-2">14</span></span></div>
              </div>
              <h6 class="text-900 mt-3">Martin . <span class="fw-normal">Fashion activist </span></h6>
              <h3 class="fw-bold text-1000 mt-5 text-truncate">Spring exclusive collection for Men &amp; Women</h3>
              <p class="text-900 mt-3">Explore the first real-time photographic fashion magazine NOWFASHION to broadcast exclusive live fashion shows. Some of the most beautiful spring collection i want to share. See the....</p><a class="btn btn-lg text-900 fs-1 px-0 hvr-icon-forward" href="#!" role="button">Read more
                <svg class="bi bi-arrow-right-short hover-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"> </path>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
     <!-- end of .container-->

    </section>