{% load static %}
<section class="py-0" id="collection">

    <div class="container">
      <div class="row h-100 gx-2">
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="{% static 'assets/img/gallery/urban.png' %}" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="p-5 p-md-2 p-xl-5">
                <h1 class="fs-md-4 fs-lg-7 text-light">Urban Stories </h1>
                <h5 class="fs-2 text-light">collection</h5>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="{% static 'assets/img/gallery/country.png' %}" alt="..." />
            <div class="card-img-overlay bg-dark-gradient">
              <div class="p-5 p-md-2 p-xl-5 d-flex flex-column flex-end-center align-items-baseline h-100">
                <h1 class="fs-md-4 fs-lg-7 text-light">Urban Stories </h1>
                <h5 class="fs-2 text-light">collection</h5>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>