{% load static %}
<section class="py-0" id="header" style="margin-top: -23rem !important;">

    <div class="container">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"> <img class="img-fluid" src="{% static 'assets/img/gallery/her.png' %}" width="790" alt="..." />
            <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">For Her</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"> <img class="img-fluid" src="{% static 'assets/img/gallery/him.png' %}" width="790" alt="..." />
            <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">For Him </a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>